 body {
    
    min-width: 357px;
    overflow-x: hidden;

    background-image: url("popback.jpg");
    background-repeat: no-repeat;

     }
h2{
  color: white;
  text-align: center;
  margin: 2px;
  text-shadow: 2px 2px 4px lightblue;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

button{

  
   right: 15%;
    margin: -40px;
    position: absolute;
    top: 29%;
}



h3{
   color: orange;
  
  text-shadow: 2px 2px 4px #000000;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
   left: 15%;
    margin: -40px;
    position: absolute;
    top: 29%;


}

h1{
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

#now_viewing{


  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
   left: -72px;
   position: relative;
    margin: 40px;
    
    top: -5px;



}

#click-me{
   right: 10%;
    margin: -20px;
    position: absolute;
    top: 97%;


}

#testing{

 right: 15%;
    margin: -40px;
    position: absolute;
    top: 35%;

}



/* unvisited link */
a:link {
    text-decoration: none;
  color: white;
  border: none;
    text-align: center;
  text-shadow: 2px 2px 4px #000000;
    font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* visited link */
a:visited {
    text-decoration: none;
  color: white;
  border: none;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
    font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* mouse over link */
a:hover {
    text-decoration: none;
  color: orange;
  border: none;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
    font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

/* selected link */
a:active {
    text-decoration: none;
  color: blue;
  border: none;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
    font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
